@{
    ViewData["Title"] = "Loan Details";
}

@Html.Partial("_ViewLoanDetails")

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Members Loan Details</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Members Loan Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-edit pr-2"></i>Members Loan Details</h3>
                </div>

                <input type="hidden" name="LoanScheduleID">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_LoanMembers" class="table table-bordered table-hover text-center" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">

                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>

        $(document).ready(function () {

            LoadMembersLoan();
            function LoadMembersLoan() {
                $('#tbl_LoanMembers').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Loans/LoadMembersLoan",
                        "type": "POST",
                        "datatype": "JSON"
                    },
                    columns:
                        [
                            { data: "MemberID", visible: false, "orderable": false },
                            { data: "FullName", title: "Full Name", sClass: "dt-body-center", orderable: false },
                            { data: "Amount", title: "Amount", sClass: "dt-body-right", orderable: false, render: $.fn.dataTable.render.number(',', '.', 2, '₱ ') },
                            { data: "DateReleased", title: "Date Released", sClass: "dt-body-center", orderable: false },
                            //{
                            //    data: "IsReleased", title: "Status", sClass: "dt-body-center", render: function (data) {
                            //        if (data == true) {
                            //            return "<span class='badge bg-primary'>Released</span>"
                            //        }
                            //        else {
                            //            return "<span class='badge bg-warning'>For Releasing</span>"
                            //        }
                            //    }
                            //},
                            {
                                data: "LoanScheduleID", title: "Action", render: function (data) {
                                    return "<div class='row justify-content-center'>" +
                                        "<div class='dropdown dropleft'>" +
                                        "<button id='btnbars' type='button' class='btn btn-sm btn-success btnbars' data-toggle='dropdown'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</button> <div class='dropdown-menu'>" +
                                        "<div class='container fluid'> " +
                                        "<a id='btnViewDetails' class='btn btn-warning btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px;'>" +
                                        "&nbspView Details</a>" +
                                        "<br />" +
                                        "<a id='btnTaggedPaid' class='btn btn-danger btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px; color: white;'>" +
                                        "&nbspTag as Paid</a>" +
                                        "</div></div></div ></div>";
                                }
                            }
                        ]
                });

                $('#tbl_LoanMembers tbody').off().on('click', 'tr', function (e) {
                    if ($(e.target).is("[id^=btnViewDetails],[id^=btnViewDetails] i")) {
                        $("#modal_view_loandetails").modal("show");
                        var rptUrl = "../Reports/LoadLoanDetails?&LoanID=" + $("[name='LoanScheduleID']").val();
                        console.log(rptUrl);
                        $("#rpt_loanDetails").attr('src', rptUrl);
                    }
                    else if ($(e.target).is("[id^=btnTaggedPaid],[id^=btnTaggedPaid] i")) {
                        alert("Paid");
                    }
                    else if (!$(e.target).is("[id^=btnbars],[id^=btnbars] i")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            $("[name='LoanScheduleID']").val(SelectedValue("tbl_LoanMembers", "LoanScheduleID"));
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='LoanScheduleID']").val(0);
                        }
                    }
                });
            }

        });

        ActiveMenu("#loandetails");
    </script>
}

