@{
    ViewData["Title"] = "Fees";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Fees</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Fees</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-user pr-2"></i>Fee Details</h3>
                </div>
                <input type="hidden" name="FeeDtlsID" />
                <div class="card-body">
                    <form id="form_fees" novalidate="novalidate">
                        <div class="row">
                            <div class="col-3">
                                <div>Select Fee</div>
                                <div class="form-group">
                                    @Html.DropDownList("FeeID", ViewData["cmbfees"] as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-3">
                                <div for="Amount">Amount</div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">₱</span>
                                    </div>
                                    <input type="number" min="0" max="99999999" name="Amount" class="form-control text-right" id="Amount">
                                </div>
                            </div>
                            <div class="col-2 pt-4 mt-2">
                                <div class="icheck-success d-inline">
                                    <input type="checkbox" name="IsActive" id="IsActive" value="true">
                                    <label for="IsActive">Set as Active</label>
                                </div>
                            </div>
                            <div class="col-3 pt-4">
                                <button type="submit" class="btn btn-success"><i class="fa fa-save pr-2"></i>Save</button>
                            </div>
                        </div>
                      
                    </form>
                    <div class="row pb-3 pt-3">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_Fees" class="table table-bordered table-hover text-center" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>
        $(document).ready(function () {

            ValidateFee();
            function ValidateFee() {
                $.validator.setDefaults({
                    submitHandler: function () {
                        SaveFee();
                    }
                });
                $('#form_fees').validate({
                    rules: {
                        Amount: {
                            required: true
                        },
                    },
                    messages: {
                        Amount: {
                            required: "This field is required"
                        },
                    },
                    errorElement: 'span',
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        element.closest('.form-group').append(error);
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).addClass('is-invalid');
                        console.log(element);
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).removeClass('is-invalid');
                        console.log(element);
                    }
                });
            }

            LoadFees();
            function LoadFees() {
                $('#tbl_Fees').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../FileMaintenance/LoadFees",
                        "type": "POST",
                        "datatype": "JSON"
                    },
                    columns:
                        [
                            { data: "FeeID", visible: false, "orderable": false },
                            { data: "Description", title: "Fee Description", sClass: "dt-body-center", orderable: false },
                            { data: "Amount", title: "Amount", sClass: "dt-body-right", orderable: false, render: $.fn.dataTable.render.number(',', '.', 2, '₱ ') },
                            {
                                data: "IsActive", title: "Status", sClass: "dt-body-center", render: function (data) {
                                    if (data == true) {
                                        return "<span class='badge bg-primary'>Active</span>"
                                    }
                                    else {
                                        return "<span class='badge bg-danger'>Inactive</span>"
                                    }
                                }
                            },
                            {
                                data: "FeeDtlsID", title: "Action", render: function (data) {
                                    return "<div class='row justify-content-center'>" +
                                        "<div class='dropdown dropleft'>" +
                                        "<button id='btnbars' type='button' class='btn btn-sm btn-success btnbars' data-toggle='dropdown'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</button> <div class='dropdown-menu'>" +
                                        "<div class='container fluid'> " +
                                        "<a id='btnUpdate' class='btn btn-warning btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px;'>" +
                                        "&nbspUpdate</a>" +
                                        "<br />" +
                                        "<a id='btnDelete' class='btn btn-danger btn-sm fa fa-trash col-sm-12' style='margin-bottom: 3px; margin-top: 3px; color: white;'>" +
                                        "&nbspDelete</a>" +
                                        "</div></div></div ></div>";
                                }
                            }
                        ]
                });

                $('#tbl_Fees tbody').off().on('click', 'tr', function (e) {
                    if ($(e.target).is("[id^=btnUpdate],[id^=btnUpdate] i")) {
                        UpdateFee();
                    }
                    else if ($(e.target).is("[id^=btnDelete],[id^=btnDelete] i")) {
                        RemoveFee();
                    }
                    else if (!$(e.target).is("[id^=btnbars],[id^=btnbars] i")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            $("[name='FeeDtlsID']").val(SelectedValue("tbl_Fees", "FeeDtlsID"));
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='FeeDtlsID']").val(0);
                            $("#form_fees").trigger("reset");
                        }
                    }
                });


                function UpdateFee() {
                    if ($("[name='FeeDtlsID']").val() != 0) {
                        $.ajax({
                            url: "../FileMaintenance/UpdateFee?FeeDtlsID= " + $("[name='FeeDtlsID']").val(),
                            type: "GET",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                if (res.data != null) {
                                    $("[name='FeeDtlsID']").val(res.data.FeeDtlsID);
                                    $("[name='FeeID']").val(res.data.FeeID);
                                    $("[name='Amount']").val(res.data.Amount);
                                    $("[name='IsActive']").prop('checked', res.data.IsActive);
                                }
                            }
                        });
                    }
                    else {
                        Swal.fire('Information!', 'Please select a record first.', 'info');
                    }
                }

                function RemoveFee() {
                    if ($("[name='FeeDtlsID']").val() != 0) {
                        Swal.fire({
                            text: "Are you sure you want to delete this record?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#28a745',
                            cancelButtonColor: '#dc3545',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: '../FileMaintenance/RemoveFee?&FeeDtlsID=' + $("[name='FeeDtlsID']").val(),
                                    type: 'POST',
                                    success: function (res) {
                                        if (res.success == true) {
                                            Swal.fire('Success!', 'Record has been deleted.', 'success');
                                            LoadFees();
                                            $("[name='FeeDtlsID']").val(0);
                                        } else {
                                            Swal.fire('Error!', res.msg, 'error');
                                        }
                                    }
                                });
                            }
                        });
                    }
                    else {
                        Swal.fire('Information!', 'Please select a record first.', 'info');
                    }
                }

            }

            function SaveFee() {
                $.ajax({
                    url: "../FileMaintenance/SaveFee",
                    type: 'POST',
                    data: FeeDetails(),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.success == true) {
                            Swal.fire({
                                text: "Successfully saved.",
                                icon: "success",
                                showCancelButton: false,
                                confirmButtonColor: '#28a745',
                                confirmButtonText: "Ok"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $("#form_fees").trigger("reset");
                                    LoadFees();
                                }
                            });
                            $("[name='FeeDtlsID']").val(0);
                        } else {
                            Swal.fire("Error!", res.message, "error");
                        }
                    }
                });
            }

            function FeeDetails() {
                var formData = new FormData();
                formData.append('FeeDtlsID', $("[name='FeeDtlsID']").val());
                formData.append('FeeID', $("[name='FeeID']").val());
                formData.append('Amount', $("[name='Amount']").val());
                formData.append('IsActive', $('input[name="IsActive"]:checked').val());
                console.log($('input[name="IsActive"]:checked').val());
                return formData;
            }




        });

        ActiveMenu("#fees");
    </script>
}
