
@{
    ViewData["Title"] = "User Accounts";
}

@Html.Partial("_AddNewUser")

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 60px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User Accounts</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Accounts</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-user pr-2"></i>User Account Details</h3>
                </div>

                <div class="card-body">
                    <div class="row pl-2">
                        <button type="button" class="btn btn-success" id="btn_add_new_user"><i class="fa fa-plus mr-2"></i>Add New User</button>
                    </div>
                    <div class="row pb-3 pt-3">
                        <div class="col-md-12">
                            <div class="dataTables_wrapper table-responsive dt-bootstrap4">
                                <table id="tbl_Users" class="table table-bordered table-hover text-center" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                </div>
            </div>
        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts
{
    <script>
        $(document).ready(function () {

            var user_id = 0;

            LoadUsers();
            function LoadUsers() {
                $('#tbl_Users').DataTable({
                    destroy: true,
                    responsive: true,
                    processing: false,
                    search: true,
                    stateSave: true,
                    info: true,
                    searching: true,
                    paging: true,
                    order: [[1, "asc"], [2, "asc"]],
                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]],
                    ajax: {
                        "url": "../Account/LoadUsers",
                        "type": "POST",
                        "datatype": "JSON"
                        //"success": function (data) {
                        //    alert(JSON.stringify(data.data));
                        //}
                    },
                    columns:
                        [
                            //{ data: "UserID", visible: false, "orderable": false },
                            { data: "FullName", title: "Full Name", sClass: "dt-body-center", orderable: false },
                            { data: "Username", title: "Username", sClass: "dt-body-center", orderable: false },
                            //{ data: "Password", title: "Password", sClass: "dt-body-center", orderable: false },
                            { data: "DateAdded", title: "Date Registered", sClass: "dt-body-left", orderable: false },
                            {
                                data: "UserID", title: "Action", render: function (data) {
                                    return "<div class='row justify-content-center'>" +
                                        "<div class='dropdown dropleft'>" +
                                        "<button id='btnbars' type='button' class='btn btn-sm btn-success btnbars' data-toggle='dropdown'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</button> <div class='dropdown-menu'>" +
                                        "<div class='container fluid'> " +
                                        "<a id='btnUpdate' class='btn btn-warning btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px;'>" +
                                        "&nbspUpdate</a>" +
                                        "<br />" +
                                        "<a id='btnDelete' class='btn btn-danger btn-sm fa fa-edit col-sm-12' style='margin-bottom: 3px; margin-top: 3px; color: white;'>" +
                                        "&nbspDelete</a>" +
                                        "</div></div></div ></div>";
                                }
                            }
                        ]
                });

                $('#tbl_Users tbody').off().on('click', 'tr', function (e) {
                    if ($(e.target).is("[id^=btnUpdate],[id^=btnUpdate] i")) {
                        UpdateUser();
                    }
                    else if ($(e.target).is("[id^=btnDelete],[id^=btnDelete] i")) {
                        RemoveUser();
                    }
                    else if (!$(e.target).is("[id^=btnbars],[id^=btnbars] i")) {
                        if (!$(this).hasClass("dtactive")) {
                            $(this).parent().find("tr").removeClass("dtactive");
                            $(this).addClass("dtactive");
                            user_id = SelectedValue("tbl_Users", "UserID");
                            $("[name='UserID']").val(user_id);
                        } else {
                            $(this).removeClass("dtactive");
                            $("[name='UserID']").val(0);
                            $("#form_user").trigger("reset");
                        }
                    }
                });
            }

            function UpdateUser() {
                if ($("[name='UserID']").val() != 0) {
                    $.ajax({
                        url: "../Account/UpdateUser?UserID= " + $("[name='UserID']").val(),
                        type: "GET",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.data != null) {
                                $("#modal_add_user").modal("show");
                                $("[name='UserID']").val(res.data.UserID);
                                $("[name='FirstName']").val(res.data.FirstName);
                                $("[name='LastName']").val(res.data.LastName);
                                $("[name='Username']").val(res.data.Username);
                                $("[name='Password']").val(res.data.Password);
                            }
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }

            function RemoveUser() {
                if ($("[name='UserID']").val() != 0) {
                    Swal.fire({
                        text: "Are you sure you want to delete this record?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#28a745',
                        cancelButtonColor: '#dc3545',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '../Account/RemoveUser?&UserID=' + $("[name='UserID']").val(),
                                type: 'POST',
                                success: function (res) {
                                    if (res.success == true) {
                                        Swal.fire('Success!', 'Record has been deleted.', 'success');
                                        LoadUsers();
                                        $("[name='UserID']").val(0);
                                    } else {
                                        Swal.fire('Error!', res.msg, 'error');
                                    }
                                }
                            });
                        }
                    });
                }
                else {
                    Swal.fire('Information!', 'Please select a record first.', 'info');
                }
            }

            $("#btn_save_user").click(function (e) {
                e.preventDefault();
                SaveUser();
            });

            $("#btn_add_new_user").click(function (e) {
                e.preventDefault();
                NewUser();
            });

            function NewUser() {
                $("#form_user").trigger("reset");
                $("#modal_add_user").modal("show");
            }

            function SaveUser() {
                if (ValidateForm("#form_user") == true) {
                    $.ajax({
                        url: "../Account/SaveUser",
                        type: 'POST',
                        data: UserDetails(),
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.success == true) {
                                Swal.fire({
                                    text: "Successfully saved.",
                                    icon: "success",
                                    showCancelButton: false,
                                    confirmButtonColor: '#28a745',
                                    confirmButtonText: "Ok"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $("#form_user").trigger("reset");
                                        LoadUsers();
                                        $("[name='UserID']").val(0);
                                    }
                                });
                            } else {
                                Swal.fire("Error!", res.message, "error");
                            }
                        }
                    });
                } else {
                    Swal.fire("Warning!", "Please fill-in the required fields.", "warning");
                }
            }

            function UserDetails() {
                var formData = new FormData();
                formData.append('UserID', $("[name='UserID']").val());
                formData.append('FirstName', $("[name='FirstName']").val());
                formData.append('LastName', $("[name='LastName']").val());
                formData.append('Password', $("[name='Password']").val());
                formData.append('Username', $("[name='Username']").val());
                return formData;
            }

        });

        ActiveMenu("#useraccounts");
    </script>
}

